a:hover{
    color: rgba(123,189,49,1);
}

.bcprimary{
    background: linear-gradient(143deg, rgba(36,87,42,1) 0%, rgba(123,189,49,1) 100%);
}

/* WidgetWhats */

#okewa-floating_popup .okewa-header{
	display: none;
}

#okewa-floating_popup{
	width: auto !important;
	top: auto !important;
	bottom: 80px !important;
	left: inherit !important;
	max-height: 80px!important;
	border-radius: inherit!important;
}

#okewa-floating_popup a{
	width: 0 !important;
	height: 0!important;
}

#okewa-floating_popup .okewa-cs_status::before{
	right: 0!important;
}

#okewa-floating_popup .okewa-chat .list-cs_1{
	padding-right: 1rem!important;
}

main input, main select, main textarea, main button, main .button{
	box-shadow: 1px 1px 1px black;
	border-radius: .5rem;
}