a:hover{
    color: rgba(123,189,49,1);
}

.bcprimary{
    background: linear-gradient(143deg, rgba(36,87,42,1) 0%, rgba(123,189,49,1) 100%);
}

/* WidgetWhats */

#okewa-floating_popup .okewa-header, .okewa-fc_text{
	display: none!important;
}

#okewa-floating_popup{
	width: auto !important;
	top: auto !important;
	bottom: 80px !important;
	left: inherit !important;
	max-height: 80px!important;
	border-radius: inherit!important;
}

#okewa-floating_popup a{
	width: 0 !important;
	height: 0!important;
}

#okewa-floating_popup .okewa-cs_status::before{
	right: 0!important;
}

#okewa-floating_popup .okewa-chat .list-cs_1{
	padding-right: 1rem!important;
}

main input, main select, main textarea, main button, main .button{
    box-shadow: 1px 1px 1px 0.5px #24572A;
    border-radius: .25rem;
    padding: .5rem;
}

main button, main .button{
	background-color: #24572A;
	color: white;
	padding: .5rem 1rem .5rem 1rem;
}